<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>个人博客</title>
		<link rel="shortcut icon" href="//cdn-img.easyicon.net/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>-->
	</head>
	<body>
		<div class="header">
			<div class="datou"><img src="img/u=2480986093,3765910678&fm=27&gp=0.jpg" title="本人"/></div>
			<ul>
				<li><a href="">首页</a></li>
				<li><a href="">博客</a></li>
				<li><a href="login.html">登录</a></li>
				<li><a href="register.html">注册</a></li>
				<li><a href="game.html">游戏</a></li>
			</ul>
		</div>
		<div class="banner">
			<div id="wrap">
			<ul>
				<li>
					<div class="text">
						<p>尼尔机械纪元</p>
					</div>
				</li>
				<li>
					<div class="text">
						<p>尼尔机械纪元2</p>
					</div>
				</li>
				<li>
					<div class="text">
						<p>尼尔机械纪元3</p>
					</div>
				</li>
				<li class="curr">
					<div class="text">
						<p>尼尔机械纪元4</p>
					</div>
				</li>
			</ul>
		</div>
		</div>
		<div class="container death" style="margin-top:470px">
			<div class="con_left">
				<!--<div class="left">
					<div class="left11">
						<h2>几个软件高级哦评价爱国食品鞍山国家票时间啊搜救方</h2>
						<p>2017-11-12  21:45:11</p>
					</div>
					<div class="left12"><img src="img/11.jpg"/></div>
				</div>
				<div class="left">
					<div class="left11">
						<h2>几个软件高级哦评价爱国食品鞍山国家票时间啊搜救方</h2>
						<p>2017-11-12  21:45:11</p>
					</div>
					<div class="left12"><img src="img/11.jpg"/></div>
				</div>
				<div class="left">
					<div class="left11">
						<h2>几个软件高级哦评价爱国食品鞍山国家票时间啊搜救方</h2>
						<p>2017-11-12  21:45:11</p>
					</div>
					<div class="left12"><img src="img/11.jpg"/></div>
				</div>
				<div class="left">
					<div class="left11">
						<h2>几个软件高级哦评价爱国食品鞍山国家票时间啊搜救方</h2>
						<p>2017-11-12  21:45:11</p>
					</div>
					<div class="left12"><img src="img/11.jpg"/></div>
				</div>-->
			</div>
			<div class="con_right">
				
			</div>
      	</div>
      	
      	<div class="footer">
      		<p>Powered by: Django Bootstrap AWS Glyphicons Halflings</p>
      		<p><a href="">新浪微博: @丧心病狂滴神</a> <a href="">断罪小学扛把子</a> <a href="">GitHub: chickendinner007</a></p>
      	</div>
	</body>
	<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
	<!--<script type="text/javascript"src="js/bootstrap.min.js" ></script>-->
	<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
</html>
